*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

 .hero{
    height: 100vh;
    max-width: 100%;
    background-color: black; 
    background-image: url(/background.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
} 
 
  .hero::before{
    content: '';
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 100px;
      /* background: linear-gradient(to top,#1c0522,transparent);  */
     z-index: 1000;
  } 

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
    max-width: 100%;
}



.logo{
    border-radius: 25px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 300;
    cursor: pointer;
    line-height: 40px;
}

span{
    color: #f9004d;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-weight: 400;
}

nav ul li{
    list-style-type: none;
    display:inline-block ;
    padding: 10px 25px;
}

@media (max-width:980px){
    ul{
        margin-left: 40px;
    }
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}

.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.content{
    position: absolute;
    max-width: 100%;
    top: 55%;
    left: 60%;
    transform: translateY(-50%);
    margin: 0 auto;

}

@media (max-width:980px){
    .content{
        top: 70%;
        left: 0%;
        padding: 0 0.5em;
    }
    
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    line-height: 43px;
}

h4{
    color: #fcfc;
    letter-spacing:2px ;
    font-size: 20px;
    line-height: 0px;
}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;

}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius:30px ;

}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    cursor: pointer;

}
.newslatter form input:last-child:hover{
    background-color: #191919;
    color: #f9004d;
    cursor: pointer;
    transition: .3s;

}

.about{
    /* width: 100%; */
    max-height: 80vh;
    min-height: 145vh;
    padding: 125px;
    background-color: #191919;
    max-width: 100%;
    overflow: hidden;
}

@media (max-width:980px){
    .about{
        max-height: 135vh;
        min-height: 83vh;
    }
}

.about img{
     max-height: 670px;
     min-height: 560px;
     margin-top: -20px;
     margin-right: 100px;
     max-width: 100%;
     /* width: 530px; */
     margin: 0 auto;
     float: right;
    /* top: 20px; */
}

.about-text{
    width: 500px;
    padding: 0 1em;
}

.main{
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    /* height: 103px; */
    line-height: 66px;
    /* max-height: 50px;
    min-height: 100px; */
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
}

.title h2{
    color: white;
    font-size: 75px;
    /* width: 1130px; */
    margin: 30px auto;
    text-align: center;
    line-height: 70px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
} 

@media (max-width:980px) {
    .box{
        display: flex;
        flex-direction: column;
    }
}



 .card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
} 


.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-weight: 300;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}


.contact-me{
    width: 100%;
    min-height: 525px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
}

.contact-me p{
    color: white;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 25px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
}

h2{
    color: white;
    line-height: 30px;
    /* font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-weight: 300; */
}

h2 p{
    font-weight: 300;
    font-size: 15px;
}

h2 a{
    color: #f9004d;
    text-decoration: none;
}

.contact-me .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 270px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    /* font-weight: bold; */
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
}
footer p:nth-child(2){
    font-size: 17px;
    width: 500px;
    text-align: center;
    color: white;
    line-height: 25px;
}

.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50%;
    margin: 22px 10px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: #fcfc;
    bottom: 25px;
    font-size: 14px;
}